/* =========================================
   BrandRadar – CSS entry point (modulært)
   ========================================= */

/* 0) Legacy først – så nye filer kan overstyre */
@import url("css/legacy.css");

/* 1) Base + utils */
@import url("css/base.css");
@import url("css/utils.css");

/* 2) Layout + header/footer */
@import url("css/layout.css");
@import url("css/header.css");
@import url("css/footer.css");

/* 3) Delte komponenter */
@import url("css/components.css");
@import url("css/cards.css");
@import url("css/sliders.css");

/* 4) Side-spesifikk styling */
@import url("css/index.css");
@import url("css/news.css");
@import url("css/category.css");
@import url("css/product.css");
@import url("css/brands.css");
@import url("css/luxury.css");

